<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet" href = "style.css">
    <link rel = "stylesheet" href = "../assets/css/style.css">
</head>
<body>
    
    <div class= "navbar">
        <div class = "logo logotwo">
            <img src="../assets/images/logo.PNG" alt ="logo" height= "100">
        </div>
    </div>
    <h3>Select a topic to play!</h3>

    <div class="container topics">
        <div class="row">
          <div class="col">  <img src="../assets/images/sports.jpg" alt="sports" class="img-thumbnail" ><div class = "topic"> <h2><a href="quizsports.html">Sports</a></h2> </div></div>
          <div class="col">  <img src="../assets/images/entertainment.jpg" alt="entertainment" class="img-thumbnail" ><div class = "topic"> <h2><a href="quizTV.html">TV Shows</a></h2></div></div>
          <div class="w-100"></div>
          <div class="col">  <img src="../assets/images/sample.jpg" alt="aroundtheworld" class="img-thumbnail" ><div class = "topic"> <h2><div class = "topic"> <h2><a href="quizATW.html">Around The World</a></h2></div></h2></div></div>
          <div class="col">  <img src="../assets/images/politics.jpg" alt="politics" class="img-thumbnail" ><div class = "topic"> <h2><div class = "topic"> <h2><a href="quizPolitics.html">Politics</a></h2></div></h2></div></div>
        </div>
      </div>
      
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../models/index.js"></script>
</html>
